_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_Store
.tweet-cache
_news_private/
_posts_private/
assets/json/resume.json
managed_headcount.md
*resume*.pdf
assets/libs/
node_modules/
vendor
.idea
